<h1>Show Teacher</h1>

<ul class="list-group">
<% User.all.each do |user| %>
  <% if !user.admin == true %>

    <li class="list-group-item" id="<%= user.id %>"><span class="badge"><a href="" class="upgrade_student">Upgrade</a></span><%= user.email %></li>

    <% else %>
    <% unless current_user.id == user.id %>
    <li class="list-group-item list-group-item-info" id="<%= user.id %>"><span class="badge">
        <a href="" class="downgrade_teacher">Downgrade</a></span><%= user.email %>
    </li>
    <% end %>
    <% end %>
<% end %>

<h2>Teams </h2>

<he>Here is the Team Today</he>
<% @teams.each do |team| %>
<h4>Team:</h4>
<ul><li>
  <% team.pair.each do |member| %>
    <%= member %>
  <% end %>
</li></ul>


<% end %>
<hr>
  </ul>
