<h2 class="sub-header">Manage users</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% User.all.sort.each do |user| %>
      <% if !user.admin == true %>
        <tr id="<%= user.id %>">
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.admin ? "Admin" : "Student" %></td>
          <td><a href="" class="upgrade_student">Upgrade</a></td>
        </tr>
        <% else %>
        <% unless current_user.id == user.id %>
        <tr id="<%= user.id %>">
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td></td>
          <td><a href="" class="downgrade_admin">Downgrade</a></td>
        </tr>
        <% end %>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<h2 class="sub-header">Teams</h2>
<%= render 'pairs/show' %>
<%= render 'pairs/form' %>
